.s-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-align-center {
  display: flex;
  align-items: center;
}

.page_content {
  min-height: calc(100vh - 88px - 66px);
  background-color: #141414;
}

/* Text */
.list-item_title {
  font-size: 28px;
  color: #FFFFFF;
}